$bg-color: rgba(0, 0, 0, 0.9);
$tx-color: rgb(175, 177, 85);
div.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  div.dan-file {
    width: 400px;
    padding: 1rem;
    div.danbooru-img {
      height: 40vh;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(1.25);
          cursor: zoom-in;
        }
      }
    }
    div.danbooru-video {
      height: 40vh;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(1.25);
          cursor: zoom-in;
        }
      }
    }
    label {
      display: inline-block;
      padding: 0.25rem;
      border-radius: 20%;
      transition: all 0.3s ease;
      background-color: black;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }
    }
    div.tags.show {
      opacity: 1;
      pointer-events: all;
    }
    div.tags {
      opacity: 0;
      transition: all 0.2s linear;
      pointer-events: none;
      padding: 1rem;
      position: fixed;
      z-index: 1;
      width: 80vw;
      height: 80vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.9);
      button.copy-btn {
        padding: 0.25rem;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(175, 177, 85);
        border: none;
        width: 10%;
        font-size: 1.5rem;
        position: absolute;
        right: 90%;
        bottom: 100%;
        border-radius: 20%;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      button.download-tags {
        padding: 0.25rem;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(175, 177, 85);
        border: none;
        width: 10%;
        font-size: 1.5rem;
        position: absolute;
        right: 75%;
        bottom: 100%;
        border-radius: 20%;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      label.closeTags {
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        left: 90%;
        bottom: 100%;
        width: 10%;
        text-align: center;
        font-size: 1.5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    a {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      display: inline-block;
      padding: 0.25rem;
      background-color: black;
      color: rgb(175, 177, 85);
      border-radius: 20%;
      text-decoration: none;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:active {
        transform: scale(0.9);
      }
    }
    a.img-source {
      margin-left: 0;
      margin-bottom: 0.25rem;
    }
    a.video-source {
      margin-left: 0;
      margin-bottom: 0.25rem;
    }
    button {
      border: none;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      display: inline-block;
      padding: 0.25rem;
      background-color: black;
      color: rgb(175, 177, 85);
      border-radius: 20%;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  div.safe-img {
    width: 400px;
    padding: 1rem;
    div.safebooru-img {
      height: 40vh;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(1.25);
          cursor: zoom-in;
        }
      }
    }
    input {
      display: none;
    }
    label {
      display: inline-block;
      padding: 0.25rem;
      border-radius: 20%;
      transition: all 0.3s ease;
      background-color: black;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }
    }
    div.tags.show {
      opacity: 1;
      pointer-events: all;
    }
    div.tags {
      opacity: 0;
      transition: all 0.2s linear;
      pointer-events: none;
      padding: 1rem;
      position: fixed;
      z-index: 1;
      width: 80vw;
      height: 80vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.9);
      button.copy-btn {
        padding: 0.25rem;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(175, 177, 85);
        border: none;
        width: 10%;
        font-size: 1.5rem;
        position: absolute;
        right: 90%;
        bottom: 100%;
        border-radius: 20%;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      label.closeTags {
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        left: 90%;
        bottom: 100%;
        width: 10%;
        text-align: center;
        font-size: 1.5rem;
      }
      button.download-tags {
        padding: 0.25rem;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(175, 177, 85);
        border: none;
        width: 10%;
        font-size: 1.5rem;
        position: absolute;
        right: 75%;
        bottom: 100%;
        border-radius: 20%;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      p {
        font-size: 1.5rem;
      }
    }
    a {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      display: inline-block;
      padding: 0.25rem;
      background-color: black;
      color: rgb(175, 177, 85);
      border-radius: 20%;
      text-decoration: none;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:active {
        transform: scale(0.9);
      }
    }
    a.img-source {
      margin-left: 0;
      margin-bottom: 0.25rem;
    }
    button {
      border: none;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      display: inline-block;
      padding: 0.25rem;
      background-color: black;
      color: rgb(175, 177, 85);
      border-radius: 20%;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  div.gel-img {
    flex-basis: 400px;
    padding: 1rem;
    div.gelbooru-img {
      height: 25vh;
      overflow: hidden;
      background-color: black;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(1.25);
          cursor: zoom-in;
        }
      }
    }
    input {
      display: none;
    }
    label {
      display: inline-block;
      padding: 0.25rem;
      border-radius: 20%;
      transition: all 0.3s ease;
      background-color: black;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }
    }
    div.tags.show {
      opacity: 1;
      pointer-events: all;
    }
    div.tags {
      opacity: 0;
      transition: all 0.2s linear;
      pointer-events: none;
      padding: 1rem;
      position: fixed;
      z-index: 1;
      width: 80vw;
      height: 80vh;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.9);
      button.copy-btn {
        padding: 0.25rem;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(175, 177, 85);
        border: none;
        width: 10%;
        font-size: 1.5rem;
        position: absolute;
        right: 90%;
        bottom: 100%;
        border-radius: 20%;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      button.download-tags {
        padding: 0.25rem;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(175, 177, 85);
        border: none;
        width: 10%;
        font-size: 1.5rem;
        position: absolute;
        right: 75%;
        bottom: 100%;
        border-radius: 20%;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
        }
        &:active {
          transform: scale(0.9);
        }
      }
      label.closeTags {
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        left: 90%;
        bottom: 100%;
        width: 10%;
        text-align: center;
        font-size: 1.5rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
    input:checked + div.tags {
      display: block;
    }
    a {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      display: inline-block;
      padding: 0.25rem;
      background-color: black;
      color: rgb(175, 177, 85);
      border-radius: 20%;
      text-decoration: none;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:active {
        transform: scale(0.9);
      }
    }
    a.img-source {
      margin-bottom: 0.25rem;
      margin-left: 0;
    }
    button {
      border: none;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      display: inline-block;
      padding: 0.25rem;
      background-color: black;
      color: rgb(175, 177, 85);
      border-radius: 20%;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
