$bg-color: rgb(0, 0, 0);
$tx-color: rgba(175, 177, 85, 0.9);
div.hidden {
  display: none;
}
div.success {
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: $bg-color;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 20%;
  border-radius: 10%;
  animation: fadeIn 0.1s linear 0s 1 normal;
  p {
    color: $tx-color;
  }
  button {
    padding: 0.25rem;
    align-self: flex-end;
    position: absolute;
    top: 102%;
    width: 10%;
    background-color: $bg-color;
    color: $tx-color;
    border: none;
    border-radius: 20%;
    font-size: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
