$bg-color: rgba(0, 0, 0, 0.9);
$tx-color: rgba(175, 177, 85);
div.msg {
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  background-color: $bg-color;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 20%;
  border-radius: 10%;
  p {
    font-size: 2rem;
    color: $tx-color;
  }
  button#check-btn {
    padding: 0.25rem;
    align-self: flex-end;
    position: absolute;
    top: 102%;
    width: 10%;
    background-color: $bg-color;
    color: $tx-color;
    border: none;
    border-radius: 20%;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
div.msg.hidden {
  opacity: 0;
  pointer-events: none;
}
div.msg.success {
  opacity: 1;
  pointer-events: all;
}
