nav {
  overflow: hidden;
  background-image: linear-gradient(to left, black, rgb(121, 121, 76));
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    li {
      transition: all 0.2s ease;
      margin: 0.25rem 1rem;
      a {
        display: block;
        color: rgb(175, 177, 85);
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 600;
        &:hover {
          color: rgb(75, 80, 4);
        }
      }
    }
  }
}
