div.spark-effect {
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  pointer-events: none;
  z-index: -10;
  div.spark {
    position: absolute;
    width: 2px;
    height: 300px;
    background-color: rgb(189, 167, 81);
  }
  .spark1 {
    left: 10%;
    animation: moveSpark 3s linear 0s infinite;
  }
  .spark2 {
    left: 17%;
    animation: moveSpark 4s linear 2s infinite;
  }
  .spark3 {
    left: 29%;
    animation: moveSpark 5s linear 1s infinite;
  }
  .spark4 {
    left: 38%;
    animation: moveSpark 8s linear 0s infinite;
  }
  .spark5 {
    left: 46%;
    animation: moveSpark 14s ease 0s infinite;
  }
  .spark6 {
    left: 60%;
    animation: moveSpark 4s linear 1s infinite;
  }
  .spark7 {
    left: 78%;
    animation: moveSpark 5s linear 1s infinite;
  }
  .spark8 {
    left: 86%;
    animation: moveSpark 7s linear 6s infinite;
  }
  .spark9 {
    left: 94%;
    animation: moveSpark 5s ease-in-out 0s infinite;
  }
  .spark10 {
    left: 55%;
    animation: moveSpark 3s linear 1s infinite;
  }
  .spark10 {
    left: 5%;
    animation: moveSpark 6s linear 0s infinite;
  }
}
@keyframes moveSpark {
  0% {
    margin-top: 100vh;
    opacity: 1;
  }
  100% {
    margin-top: -200px;
    opacity: 0;
  }
}
