@import "./nav";
@import "./footer";
@import "./search";
@import "./picture";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: rgb(179, 160, 160);
  div.morePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 1rem;
      padding: 0.5rem;
      font-size: 1.5rem;
      background-color: rgb(6, 67, 117);
      border: none;
      border-radius: 25%;
      color: rgb(179, 160, 160);
      transition: all 0.3s ease-in;
      &:hover {
        cursor: pointer;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
