@import "./nav";
@import "./footer";
@import "./search";
@import "./picture";
@import "./imgs";
@import "./message";
@import "./rating";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-image: linear-gradient(to right, rgb(70, 70, 67), rgb(41, 43, 32));
  color: rgb(175, 177, 85);
  div.morePicture {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 1rem;
      padding: 0.5rem;
      font-size: 1.5rem;
      background-color: rgb(0, 0, 0);
      border: none;
      border-radius: 25%;
      color: rgb(175, 177, 85);
      transition: all 0.1s ease-in;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
      &:active {
        transform: scale(0.8);
      }
    }
  }
}
div.homePage {
  h1 {
    text-align: center;
    margin-top: 2rem;
  }
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}
