@charset "UTF-8";
nav {
  overflow: hidden;
  background-image: linear-gradient(to left, black, rgb(121, 121, 76));
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 2rem;
}
nav ul li {
  transition: all 0.2s ease;
  margin: 0.25rem 1rem;
}
nav ul li a {
  display: block;
  color: rgb(175, 177, 85);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: rgb(97, 104, 5);
  text-decoration: underline;
}

div.footer {
  background-image: linear-gradient(to left, black, rgb(121, 121, 76));
  padding: 0.25rem;
}
div.footer h3 {
  text-align: end;
  margin-right: 1rem;
}

div.search {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
div.search input.input {
  font-size: 2rem;
  border: 3px solid rgb(0, 0, 0);
  width: 20%;
}
div.search button {
  font-size: 2rem;
  color: rgb(175, 177, 85);
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}
div.search button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  div.search input.input {
    width: 35%;
  }
}
div.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
div.photos div.picture {
  width: 400px;
  padding: 1rem;
}
div.photos div.picture div.imageContainer {
  overflow: hidden;
  height: 40vh;
}
div.photos div.picture div.imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
div.photos div.picture div.imageContainer img:hover {
  transform: scale(1.25);
  cursor: zoom-in;
}
div.photos div.picture a {
  margin-top: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  text-decoration: none;
}
div.photos div.picture button {
  border: none;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  font-size: 1rem;
  transition: all 0.3s ease;
}
div.photos div.picture button:hover {
  cursor: pointer;
}
div.photos div.picture button:active {
  transform: scale(0.9);
}

div.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
div.imgs div.dan-file {
  width: 400px;
  padding: 1rem;
}
div.imgs div.dan-file div.danbooru-img {
  height: 40vh;
  overflow: hidden;
}
div.imgs div.dan-file div.danbooru-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in;
}
div.imgs div.dan-file div.danbooru-img img:hover {
  transform: scale(1.25);
  cursor: zoom-in;
}
div.imgs div.dan-file div.danbooru-video {
  height: 40vh;
  overflow: hidden;
}
div.imgs div.dan-file div.danbooru-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in;
}
div.imgs div.dan-file div.danbooru-video video:hover {
  transform: scale(1.25);
  cursor: zoom-in;
}
div.imgs div.dan-file label {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 20%;
  transition: all 0.3s ease;
  background-color: black;
  font-size: 1.2rem;
}
div.imgs div.dan-file label:hover {
  cursor: pointer;
}
div.imgs div.dan-file label:active {
  transform: scale(0.9);
}
div.imgs div.dan-file div.tags.show {
  opacity: 1;
  pointer-events: all;
}
div.imgs div.dan-file div.tags {
  opacity: 0;
  transition: all 0.2s linear;
  pointer-events: none;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  width: 80vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
}
div.imgs div.dan-file div.tags button.copy-btn {
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  border: none;
  width: 10%;
  font-size: 1.5rem;
  position: absolute;
  right: 90%;
  bottom: 100%;
  border-radius: 20%;
  transition: all 0.3s ease;
}
div.imgs div.dan-file div.tags button.copy-btn:hover {
  cursor: pointer;
}
div.imgs div.dan-file div.tags button.copy-btn:active {
  transform: scale(0.9);
}
div.imgs div.dan-file div.tags button.download-tags {
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  border: none;
  width: 10%;
  font-size: 1.5rem;
  position: absolute;
  right: 75%;
  bottom: 100%;
  border-radius: 20%;
  transition: all 0.3s ease;
}
div.imgs div.dan-file div.tags button.download-tags:hover {
  cursor: pointer;
}
div.imgs div.dan-file div.tags button.download-tags:active {
  transform: scale(0.9);
}
div.imgs div.dan-file div.tags label.closeTags {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 90%;
  bottom: 100%;
  width: 10%;
  text-align: center;
  font-size: 1.5rem;
}
div.imgs div.dan-file div.tags p {
  font-size: 1.5rem;
}
div.imgs div.dan-file a {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
div.imgs div.dan-file a:active {
  transform: scale(0.9);
}
div.imgs div.dan-file a.img-source {
  margin-left: 0;
  margin-bottom: 0.25rem;
}
div.imgs div.dan-file a.video-source {
  margin-left: 0;
  margin-bottom: 0.25rem;
}
div.imgs div.dan-file button {
  border: none;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
div.imgs div.dan-file button:hover {
  cursor: pointer;
}
div.imgs div.dan-file button:active {
  transform: scale(0.9);
}
div.imgs div.safe-img {
  width: 400px;
  padding: 1rem;
}
div.imgs div.safe-img div.safebooru-img {
  height: 40vh;
  overflow: hidden;
}
div.imgs div.safe-img div.safebooru-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in;
}
div.imgs div.safe-img div.safebooru-img img:hover {
  transform: scale(1.25);
  cursor: zoom-in;
}
div.imgs div.safe-img input {
  display: none;
}
div.imgs div.safe-img label {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 20%;
  transition: all 0.3s ease;
  background-color: black;
  font-size: 1.2rem;
}
div.imgs div.safe-img label:hover {
  cursor: pointer;
}
div.imgs div.safe-img label:active {
  transform: scale(0.9);
}
div.imgs div.safe-img div.tags.show {
  opacity: 1;
  pointer-events: all;
}
div.imgs div.safe-img div.tags {
  opacity: 0;
  transition: all 0.2s linear;
  pointer-events: none;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  width: 80vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
}
div.imgs div.safe-img div.tags button.copy-btn {
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  border: none;
  width: 10%;
  font-size: 1.5rem;
  position: absolute;
  right: 90%;
  bottom: 100%;
  border-radius: 20%;
  transition: all 0.3s ease;
}
div.imgs div.safe-img div.tags button.copy-btn:hover {
  cursor: pointer;
}
div.imgs div.safe-img div.tags button.copy-btn:active {
  transform: scale(0.9);
}
div.imgs div.safe-img div.tags label.closeTags {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 90%;
  bottom: 100%;
  width: 10%;
  text-align: center;
  font-size: 1.5rem;
}
div.imgs div.safe-img div.tags button.download-tags {
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  border: none;
  width: 10%;
  font-size: 1.5rem;
  position: absolute;
  right: 75%;
  bottom: 100%;
  border-radius: 20%;
  transition: all 0.3s ease;
}
div.imgs div.safe-img div.tags button.download-tags:hover {
  cursor: pointer;
}
div.imgs div.safe-img div.tags button.download-tags:active {
  transform: scale(0.9);
}
div.imgs div.safe-img div.tags p {
  font-size: 1.5rem;
}
div.imgs div.safe-img a {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
div.imgs div.safe-img a:active {
  transform: scale(0.9);
}
div.imgs div.safe-img a.img-source {
  margin-left: 0;
  margin-bottom: 0.25rem;
}
div.imgs div.safe-img button {
  border: none;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
div.imgs div.safe-img button:hover {
  cursor: pointer;
}
div.imgs div.safe-img button:active {
  transform: scale(0.9);
}
div.imgs div.gel-img {
  flex-basis: 400px;
  padding: 1rem;
}
div.imgs div.gel-img div.gelbooru-img {
  height: 25vh;
  overflow: hidden;
  background-color: black;
}
div.imgs div.gel-img div.gelbooru-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s ease-in;
}
div.imgs div.gel-img div.gelbooru-img img:hover {
  transform: scale(1.25);
  cursor: zoom-in;
}
div.imgs div.gel-img input {
  display: none;
}
div.imgs div.gel-img label {
  display: inline-block;
  padding: 0.25rem;
  border-radius: 20%;
  transition: all 0.3s ease;
  background-color: black;
  font-size: 1.2rem;
}
div.imgs div.gel-img label:hover {
  cursor: pointer;
}
div.imgs div.gel-img label:active {
  transform: scale(0.9);
}
div.imgs div.gel-img div.tags.show {
  opacity: 1;
  pointer-events: all;
}
div.imgs div.gel-img div.tags {
  opacity: 0;
  transition: all 0.2s linear;
  pointer-events: none;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  width: 80vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
}
div.imgs div.gel-img div.tags button.copy-btn {
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  border: none;
  width: 10%;
  font-size: 1.5rem;
  position: absolute;
  right: 90%;
  bottom: 100%;
  border-radius: 20%;
  transition: all 0.3s ease;
}
div.imgs div.gel-img div.tags button.copy-btn:hover {
  cursor: pointer;
}
div.imgs div.gel-img div.tags button.copy-btn:active {
  transform: scale(0.9);
}
div.imgs div.gel-img div.tags button.download-tags {
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  border: none;
  width: 10%;
  font-size: 1.5rem;
  position: absolute;
  right: 75%;
  bottom: 100%;
  border-radius: 20%;
  transition: all 0.3s ease;
}
div.imgs div.gel-img div.tags button.download-tags:hover {
  cursor: pointer;
}
div.imgs div.gel-img div.tags button.download-tags:active {
  transform: scale(0.9);
}
div.imgs div.gel-img div.tags label.closeTags {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 90%;
  bottom: 100%;
  width: 10%;
  text-align: center;
  font-size: 1.5rem;
}
div.imgs div.gel-img div.tags p {
  font-size: 1.5rem;
}
div.imgs div.gel-img input:checked + div.tags {
  display: block;
}
div.imgs div.gel-img a {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
div.imgs div.gel-img a:active {
  transform: scale(0.9);
}
div.imgs div.gel-img a.img-source {
  margin-bottom: 0.25rem;
  margin-left: 0;
}
div.imgs div.gel-img button {
  border: none;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: black;
  color: rgb(175, 177, 85);
  border-radius: 20%;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
div.imgs div.gel-img button:hover {
  cursor: pointer;
}
div.imgs div.gel-img button:active {
  transform: scale(0.9);
}

div.msg {
  transition: all 0.2s ease-in-out;
  padding: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translate(-50%, -50%);
  width: 80%;
  height: 20%;
  border-radius: 10%;
}
div.msg p {
  font-size: 2rem;
  color: rgb(175, 177, 85);
}
div.msg button#check-btn {
  padding: 0.25rem;
  align-self: flex-end;
  position: absolute;
  top: 102%;
  width: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  border: none;
  border-radius: 20%;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
div.msg button#check-btn:hover {
  cursor: pointer;
}
div.msg button#check-btn:active {
  transform: scale(0.9);
}

div.msg.hidden {
  opacity: 0;
  pointer-events: none;
}

div.msg.success {
  opacity: 1;
  pointer-events: all;
}

div.rating {
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 0.75rem;
  margin-left: 1rem;
  border-radius: 50%;
}
div.rating p {
  text-align: center;
  font-size: 1.25rem;
}
div.rating label {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  transition: all 0.2s ease;
}
div.rating label:hover {
  cursor: pointer;
}
div.rating label:active {
  transform: scale(0.8);
}
div.rating div.rating-menu.show {
  opacity: 1;
  pointer-events: all;
}
div.rating div.rating-menu {
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.9);
}
div.rating div.rating-menu label {
  position: absolute;
  left: 100%;
  bottom: 100%;
}
div.rating div.rating-menu div.btns {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
div.rating div.rating-menu div.btns button {
  border: none;
  width: 100%;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(175, 177, 85);
  font-size: 1.5rem;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
div.rating div.rating-menu div.btns button:hover {
  cursor: pointer;
  background-color: rgba(88, 88, 88, 0.9);
}
div.rating div.rating-menu div.btns button.btn-active {
  border: 1px solid rgba(175, 177, 85, 0.5);
  padding: 0.25rem;
  background-color: rgba(88, 88, 88, 0.9);
  color: rgb(175, 177, 85);
  transition: all 0.3s ease;
}
div.rating div.rating-menu div.btns button.btn-active::before {
  content: "✓";
}
div.rating div.rating-menu div.btns button.btn-active:hover {
  cursor: pointer;
}
div.rating p.info {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(70, 70, 67), rgb(41, 43, 32));
  color: rgb(175, 177, 85);
}
body div.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
}
body div.morePicture button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 25%;
  color: rgb(175, 177, 85);
  transition: all 0.1s ease-in;
}
body div.morePicture button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
body div.morePicture button:active {
  transform: scale(0.8);
}

div.homePage h1 {
  text-align: center;
  margin-top: 2rem;
}
div.homePage main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}/*# sourceMappingURL=style.css.map */